* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
html {
    font-size: 62.5%;
}
body {
    font-family: 'Lovers Quarrel', cursive;
    font-family: 'Roboto', sans-serif;
    font-size: 1.6rem;
}
.header {
    width: 100%;
    height: 200px;
}
.header .logo-text-div {
    display: flex;
    width: auto;
    height: 180px;
    border-bottom: 1px solid gray;
}
.header .logo {
    width: 160px;
    height: 160px
}
.header .title-text {
    display: flex;
    width: 100%;
    font-size: 7.2rem;
    color: rgb(22, 22, 146);
    align-items: center;
    justify-content: center;
}
.header .nav-list-header {
    display: flex;
    width: auto;
    list-style: none;
    margin-top: 24px;
    margin-right: 20px;
    justify-content: right;
}
.nav-list-header li a {
    color: rgb(45, 45, 192);
    text-decoration: none;
    padding: 12px;
}
.main {
    margin-top: 40px;
}